*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: auto;
    background-color: rgb(204, 207, 208);
    display: flex;
}
/* 置顶栏开始 */
.topBase{
    width: 100%;
    height: auto;
    background-color: #fff; 
    float: left;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
   
}
.topNode{
    height: 56px;
    width: 1200px;
    background-color:#fff; 
    line-height: 21px;
    float: left;
}
.topNode .logo{
    width: 140px;
    height: 26px;
    float: left;
    margin-top: 14px;
}
.topNode .logo .log1{
    width: 140px;
    height: 26px;
}

.topNode .searchNode{
    width: 546px;
    height: 36px;
    border: rgb(255, 63, 41) 1px solid;
    border-radius: 6px;
    margin-left: 22px;
    float: left;
    margin-top: 9px;
}
.topNode .searchNode .searchNodeLeft{
    float: left;
    width: 42px;
    height: 38px;
    margin-left: 12px;
}
.topNode .searchNode .searchNodeLeft .searchNodeLeftText{
    width: 28px;
    height: 18px;
    margin-top: 7px;
    float: left;
    font-size: 14px;
}
.topNode .searchNode .searchNodeLeft .more {
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 14px;
    margin-left: 1px;

}
.topNode .searchNode .searchNodeInput{
    width: 492px;
    height: 35px;
    float: left;
    padding: 0;
    border: 0;
} 
.topNode .searchNode .textInput{
    width: 418px;
    height: 35px;
    float: left;
    padding: 0;
    border: 0;
    margin-top: 1px;
    margin-left: 12px;
}
.topNode .searchNode .searchNodeInputTextButton{
    width: 60px;
    height: 37px;
    background-color: rgb(255, 63, 41);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    float:right;
    text-align: center;
}
.topNode .searchNode .searchNodeInputTextButton .text0{
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    color: #fff;
}
.topNode .topNodeRight{
    width: 400px;
    height: 56px;
    float: left;
    margin-left: 90px;
}
.topNode .topNodeRight .topNodeRightLogIn{
    float: left;
    font-size: 16px;
    color: #333;
    font-weight: 300;
    height: 56px;
    line-height: 56px;
}

.topNode .topNodeRight .topNodeRightLogIn a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
}
.topNode .topNodeRight .topNodeRightLogIn .text1{
    margin-right: 20px;
}
.topNode .topNodeRight .topNodeRightLogIn .headNone{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    float: right;
    margin-top: 10px;
    margin-left: 8px;
}
/* 置顶栏结束 */

/* 轮播图大区开始 */
.bannerBase{
    flex-grow: 1;
    height: 340px;
    float: left;
    text-align: center;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.bannerArea{
    width: 1200px;
    height: 320px;
    /* display: block; */
    float: left;
    margin-top: 20px;
    background-color: #ed3333;
    justify-content: space-between;
}

/* banner左侧开始 */
.bannerLeft{
    width: 230px;
    height: 280px;
    display: flexbox;
    justify-content: center;
    background-color: #fff;
    border-radius: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.list1{
    width:100%;
    height: 40px;
    justify-content: space-between;
    margin-left: 9px;
    text-align: start;
}
.list1 .span1{
    font-size: 14px;
    color: #333333;
    font-weight: 600;
    line-height: 40px;
}
.span2{
    font-size: 14px;
    color: #333333;
    font-weight: 300;
    line-height: 40px;
}
/* banner左侧结束 */

/* 轮播图开始 */