*_{
    margin: 0;
    padding: 0;
    list-style: none;
}
.topNode{
    height: 56px;
    width: 1200px;
    background-color:#fff; 
    margin-right: 178px;
}
.topNode .logo{
    margin-top: 30px;
    width: 140px;
    height: 26px;
}
.topNode .logo .log1{
    width: 140px;
    height: 26px;
}

.topNode .searchNode{
    width: 546px;
    height: 38px;
    border: rgb(255, 63, 41) 1px solid;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 40px;
}
.topNode .searchNode{
    height: 100%;
    width: 87px;
}