*_{
    margin: 0;
    padding: 0;
    list-style: none;
}
.topNode{
    height: 56px;
    background-color:#303440 ;
}
.topNode .topNodeContent{
    width: 1206px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}
.topNode .topNodeContent .logo{
    float: left;
    margin-top: 14px;
}